---
layout: page.njk
title: Your Birthday Star | A truly meaningful gift
description: Discover Your Zenith Star | A truly unique and meaningful gift, providing important and fascinating insights into your personal cosmic connection.
---

<h1 class="text-3xl sm:text-4xl font-bold text-center mb-5">Title</h1>


        <style>
    #userForm {
        max-width: 300px; /* Set a maximum width for the form */
        margin: 0 auto; /* Center the form on the page */
    }

    #userForm label {
        display: block; /* Display labels as blocks to stack them vertically */
        margin-bottom: 5px; /* Add some spacing between labels */
    }

    #userForm input {
        display: block; /* Display input boxes as blocks to stack them vertically */
        margin-bottom: 10px; /* Add some spacing between input boxes */
        color: black; /* Set the color of the text inside the input boxes to black */
    }

    #userForm button {
        display: block; /* Display the button as a block */
        margin-top: 10px; /* Add some spacing above the button */
        background-color: #007bff; /* Set a background color for the button */
        border: 1px solid #007bff; /* Add a border to the button */
        padding: 10px; /* Add padding to the button for better visibility */
        cursor: pointer; /* Change cursor to pointer on hover to indicate it's clickable */
        border-radius: 5px; /* Add border-radius for rounded corners */
    }

    #userForm button:hover {
        background-color: #0056b3; /* Change background color on hover for visual feedback */
        border: 1px solid #0056b3; /* Change border color on hover */
    }

    #userInfo,
    #constructionMessage {
        /*color: white;  Set the color of the text to white */
    }

</style>



<br><br>
<form id="userForm">
    <label for="birthDate">Birth Date (Day Month Year):</label>
    <input type="text" id="birthDate" name="birthDate" placeholder="e.g. 31 01 2000" required>

    <label for="birthPlace">Birth Place (Latitude and Longitude):</label>
    <input type="text" id="birthPlace" name="birthPlace" placeholder="e.g. 41.1496 -8.6110" required>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="e.g. Name Surname" required>


    <br>
    <button type="button" onclick="submitForm()">Submit</button>
</form>

<br><br>

<div id="constructionMessage" style="display: none;">
    <h3>Thank you for exploring STARS for ALL!</h3>
    <p>We appreciate your input. Please note that the website is still under construction. Come back later for more updates!</p>
</div>

<div id="userInfo" style="display: none;">
    <!-- Display user information here -->
</div>

<br><br>
<br><br>

<script>
    function submitForm() {
        // Get user input values
        var birthDate = document.getElementById('birthDate').value;
        var birthPlace = document.getElementById('birthPlace').value;
        var name = document.getElementById('name').value;
        

        // Show the construction message section
        var constructionMessageDiv = document.getElementById('constructionMessage');
        constructionMessageDiv.style.display = 'block';
        
        // Display user information
        var userInfoDiv = document.getElementById('userInfo');
        userInfoDiv.innerHTML = "<h3>User Information:</h3>" +
            "<p><strong>Birth Date:</strong> " + birthDate + "</p>" +
            "<p><strong>Birth Place:</strong> " + birthPlace + "</p>" +
            "<p><strong>Name:</strong> " + name + "</p><br>" +
            
            "<p><strong>Your star:</strong> " + "Coming Soon! We're mapping the cosmos for you." + "</p>";

        // Show the user information section
        userInfoDiv.style.display = 'block';
    }
</script>

