---
layout: base.njk
isFront: true
title: Your Birthday Star | A truly meaningful gift
---

<style>
    .center-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-image {
        width: 100%; /* Default width for small screens */
    }

    @media (min-width: 768px) {
        /* Adjust image size for medium screens */
        .box-image {
            width: 50%;
        }
    }

    @media (min-width: 1024px) {
        /* Adjust image size for large screens */
        .box-image {
            width: 40%;
        }
    }
</style>

<br><br>
<header
    class="header w-full min-h-[-webkit-fill-available] sm:min-h-screen flex flex-col bg-fixed bg-center sm:bg-center sm:bg-fixed bg-hero-sm sm:bg-hero-lg text-white">
    <div class="flex flex-col justify-center h-full pt-0">
    <br>
        <div class="flex flex-col items-center self-center w-full px-4 sm:flex-row sm:px-0">
            <div class="w-full pb-12 text-center sm:px-8">
                <h1 class = "mb-2"> Brightened by Stars </h1>
                <br>
                <br>
                <br>
                <br>

                <p> Discover the Shining Stars of Your Special Life Moments </p>
                <div class="center-image">
                    <img src="/img/events_negate-removebg.png" alt="First Box Image" class="box-image">
                </div>

                <p class="box-description">A truly unique and meaningful gift!</p>
                <a href="first-box-link" class="box-button">Order now</a>


            </div>
        </div>
    </div>

    <!-- JSON-LD Schema -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": ["WebPage", "CreativeWork"],
  "name": ""Your Birthday Star: A truly meaningful gift",
  "about": "Discover Your Zenith Star: A truly unique and meaningful gift, providing important and fascinating insights into your personal cosmic connection.",
  "description": "Discover Your Zenith Star: A truly unique and meaningful gift, providing important and fascinating insights into your personal cosmic connection.",
  "mainEntityOfPage": "https://mybirthdatestar.com/",
  "publisher": {
    "@type": "Organization",
    "name": "MyBirthDateStar",
    "logo": {
      "@type": "ImageObject",
      "caption": "MyBirthDateStar Logo",
      "contentUrl": "/img/logo.png",
      "height": 100,
      "inLanguage": "en-US",
      "url": "/img/logo.png",
      "width": 100
    },
    "sameAs": [
      "https://twitter.com/",
      "https://www.facebook.com/"
    ],
    "url": "https://mybirthdatestar.com/"
  },
  "image": {
    "@type": "ImageObject",
    "url": "/img/logo.png",
    "height": 675,
    "width": 1200
  }
}
</script>


    {% include "navbar.njk" %}
</header>


<main>
    <div id="about" class="header flex flex-col items-center justify-start w-full min-h-[-webkit-fill-available] sm:min-h-screen bg-center sm:bg-center sm:bg-fixed bg-hero-sm sm:bg-hero-lg">
        <div class="self-center w-full px-4 pt-8 sm:w-4/5 xl:w-3/4 sm:px:0 text-white">
            {% renderFile "./src/_includes/content/about.njk" %}
        </div>
    </div>
</main>

