---
layout: page.njk
title: Technical Details - starsforall.com
description: Technical Details about the starsforall.com non-profit initiative.
---
<h1 >Technical Details</h1>



<br><br>
  <h3>The Stellar Database
  </h3>
<div class="justify-text">
  <p>
    At the core of our celestial matchmaking service lies the data from the <a href="https://www.esa.int/Science_Exploration/Space_Science/Gaia" style="text-decoration: underline;" target="_blank" rel="_noopener">Gaia satellite</a>. This billion-star mission, launched by the European Space Agency (ESA), aims to create an ultraprecise 3D map of the Milky Way. The information gathered by Gaia forms the foundation for finding your star.
  </p>
</div>
